/*global starts*/

body{
	margin: 0;
	color: #333;
	font-family: 'Roboto', sans-serif;
	background: url(../img/pattern.png);
	font-size: 100%;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: #712822;
    line-height: 1.1;
}

h1,h2,h3,h4,h5,p{
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #712822;
}

a:hover{
	color: #000;
}

p a {
    font-weight: 400;
}

img{
	display: block;
	max-width: 100%;
}

.centralizer{
	max-width: 1170px;
	margin: 0 auto;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

/*global ends*/

/*header starts*/

/*header-top starts*/

.header-wrap {
	position: relative;
	z-index: 2;
}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

header .header-top{
	background: #e8e8e8 url(../img/bg-header-top.png) center center repeat-x ;
	padding: 25px;
}

.phones{
	float: right;
}

.header-top .phones span:before {
    content: '/';
}

.header-top .phones {
    float: right;
    text-align: right;
    font-weight: 500;
    color: #737373;
    font-size: .8em;
}

.header-top .phones a {
    color: #b72025;
    text-decoration: none;
}

.header-top .phones > a:hover {
    color: #000;
}

.logo a{
	float: left;
	margin-right: 20px;
}

.logo img{
	float: left;
}
/*header-top ends*/

/*nav starts*/
nav {
    transition: .5s;
    background: #fff;
    position: relative;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
}

nav >ul >li{
	float: left;
	list-style: none;
	border-right: 1px solid #ccc;
	position: relative;
}

nav > ul > li:hover >a, nav > ul > li.active-menu >a{
	border-top: 5px solid #b72025;
}

.hernus:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	left:0;
	top: 100%;
	z-index: 2;
}
.hernus >a{
	border-top: 5px solid #b72025;
}

nav > ul > li:hover >a{
	color: #000;
}

nav >ul >li >a{
	display: block;
	height: 56px;
    line-height: 56px;
    color: #737373;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 0 20px;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
}

nav > ul > li.have-child > a {
    padding: 0 45px 0 20px;
}

nav > ul > .active-menu > a{
	line-height: 51px;
}

nav > ul > li.have-child:hover:after, nav > ul > li.have-info:hover:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	position: absolute;
	left:0;
	top: 100%;
	z-index: 2;
}

nav > ul > li.have-child > a:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 21px;
    background: #b72025;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

nav > ul > li.have-child > a:after {
    content: '';
    position: absolute;
    right: 25px;
    top: 27px;
    border-top: 4px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

nav > ul > li.have-child:hover > a:before{
	background: #000;
}

nav > ul > li.have-child:hover > a:after{
    border-bottom: 4px solid #fff;
    border-top: none;
}

nav > ul > li > a > img {
    margin-top: 18px;
    float: left;
}

nav >ul > li >ul{
	float: left;
	position: absolute;
	left: -1px;
	top: 100%;
	background: #fff;
    width: 250px;
    border: 1px solid #ccc;
    border-bottom: 4px solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 1;
}

nav >ul > li.more-menu > ul{
	position: absolute;
	left: auto;
	right: -1px;
	top: 100%;
}

nav > ul > li:hover ul{
	visibility: visible;
	opacity: 1;
}

nav > ul > li .dekhau{
	visibility: visible;
	opacity: 1;
}

nav ul ul li{
	display: block;
}

nav ul ul li a{
	display: block;
    border-top: 1px solid #ccc;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    color: #666;
}

nav ul ul li:first-child a{
    border-top: none;
}

.have-info div {
    padding: 20px;
    line-height: 1.3em;
    color: #b72025;
    font-size: .9em;
    position: absolute;
    top: 100%;
    left: -1px;
    background: #fff;
    width: 250px;
    border: 1px solid #ccc;
    border-bottom: 4px solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    z-index: 2;
}

nav > ul > li.have-info:hover div{
	opacity: 1;
	visibility: visible;
}

nav ul ul li:hover >a{
    color: #b72025;
    background: #f5f5f5;
}

.more-menu .travel-center-menu ul li{
	border-top: 1px solid #ccc;
}

.more-menu .company-menu >a{
	color: #b72025;
}

.more-menu .company-menu ul li{
	border-top: 1px solid #ccc;
}

.trip-search-wrap {
	float: right;
	display: none;
}

.trip-search-wrap > a {
    width: 56px;
    height: 56px;
    background: #b72025 url(../img/icon-search.png) center no-repeat;
    display: block;
    display: none;
}
@media only screen and (min-width: 1010px){
	.fixed nav .trip-search-wrap >a{
		position: absolute;
		top: 148px;
		right: -5px;
	}

	.fixed nav .trip-search-wrap > a {
	    width: 56px;
	    height: 56px;
	    background: #b72025 url(../img/icon-search.png) center no-repeat;
	    display: block;
	}

	.fixed nav .show-form{
		visibility: visible !important;
		opacity: 1 !important;
	}
}
/*nav ends*/

/*header ends*/

/*banner starts*/
.banner .owl-carousel{
	position: relative;
	padding-top: 85px;
	height: 500px;
	overflow: hidden;
}

.banner .owl-prev{
	position: absolute;
	top: 55%;
	left: 0;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0, .7);
}

.banner .owl-prev:hover{
	background: #000;
}

.banner .owl-prev:after{
	content: '';
	border-right: 10px solid #ccc;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	left: 15px;
	top: 15px;
}

.banner .owl-prev:hover:after{
	border-right: 10px solid #fff;
}


.banner .owl-next{
	position: absolute;
	top: 55%;
	right: 0;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0, .7);
}

.banner .owl-next:hover{
	background: #000;
}

.banner .owl-next:after{
	content: '';
	border-left: 10px solid #ccc;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	position: absolute;
	right: 15px;
	top: 15px;
}

.banner .owl-next:hover:after{
	border-left: 10px solid #fff;
}

.fixed nav {
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
	    -ms-transition: 0.5s;
	     -o-transition: 0.5s;
	        transition: 0.5s;
	border-bottom: 5px solid #ccc;
}

/*banner ends*/

/*home content starts*/
.home-contents{
	margin: 40px 0;
}

.home-contents article{
	float: left;
	width: 62%;
	background: #fff;
}

.home-contents aside{
	float: right;
	width: 	38%;
	padding: 50px;
    background: #f2f2f2;
    border-left: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.home-intro {
    padding: 50px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0;
    background: url(../img/horse-home.png) right bottom no-repeat;
}

.home-contents h3, .home-contents h2 {
    color: #a3a3a3;
    border: none;
    padding: 0;
    font-size: 2.3em;
    margin: 0;
}

.home-contents span {
    color: #d12028;
}

.home-intro p {
    padding-right: 100px;
    margin-top: 15px;
    line-height: 1.8;
}

.ftrips {
    padding: 50px 40px;
    overflow: hidden;
}

.ftrips .btn-round {
    background: #e9e9e9;
}

.home-contents .btn-round {
    font-size: 0.35em;
    text-transform: none;
    vertical-align: middle;
    margin: -4px 0 0 10px;
}

.btn-round {
    display: inline-block;
    height: 30px;
    background: #fff;
    color: #737373;
    font-size: 0.8em;
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid #c2c2c2;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.ftrips h2 {
    margin: 0 10px 30px 10px;
}

.ftrips h5 {
    text-transform: none;
    color: #d42c34;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.ftrips .trip-item div {
    margin-bottom: 20px;
}

.ftrips p {
    font-size: 0.95em;
    line-height: 1.7;
    margin-top: 10px;
}

.btn {
    background: #d42c34;
    color: #fff;
    padding: 10px 13px;
    text-transform: uppercase;
    display: inline-block;
    font-size: .8em;
    font-weight: 500;
}

.btn:hover {
    background: #666;
    color: #fff;
}

.home-contents .btn {
    margin-top: 15px;
}

.item{
	float: left;
}

.item .trip-item{
	margin: 0 10px;
}

.trip-item img{
	width: 100%;
}

.ftrips .slide .owl-prev{
	position: absolute;
	top: 45%;
	left: -60px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0, .5);
	border-radius: 50%;
	z-index: 1;
}

.ftrips .slide .owl-prev:before{
	content: '';
	border-right: 6px solid #fff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	left: 27px;
	top: 18px;
}


.ftrips .slide .owl-next{
	position: absolute;
	top: 45%;
	right: -60px;
	width: 50px;
	height: 50px;
	background: rgba(0,0,0, .5);
	border-radius: 50%;
}

.ftrips .slide .owl-next:before{
	content: '';
	border-left: 6px solid #fff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	left: 17px;
	top: 18px;
}

/*aside starts*/

.home-testimonials{
	/*height: 798px;*/
}
.home-testimonials h4 {
    background: url(../img/bdr-fade-testimonials.png) left bottom no-repeat;
    padding-bottom: 30px;
    text-transform: none;
    font-size: 0.9em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.home-testimonials p, .ftrips p {
    font-size: 0.95em;
    line-height: 1.7;
    margin-top: 10px;
}

.home-testimonials h4 strong {
    display: block;
    color: #d42c34;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 4px;
}
/*aside ends*/
/*home content ends*/


/*responsive header starts*/

@media only screen and (max-width: 1200px){
	 nav .centralizer {
	    width: auto;
	    padding: 0 30px;
	}

	nav >ul >li:first-child{
		border-left: 1px solid #ccc;
	}

		.footer-links {
	    margin-bottom: 30px !important;
	}
}

@media only screen and (max-width: 800px){
	.banner .owl-carousel{
		height: auto;
	}
}

@media only screen and (max-width: 790px){
	nav .centralizer {
	    width: auto;
	    padding: 0;
	}

	.fb-box {
	    margin: 20px 20px 10px 20px !important;
	}

	.blue-bar aside {
	    width: 100% !important;
	    float: none !important;
	    background: url(../img/blacktrans-20pc.png) !important;
	    padding: 1px 0 !important;
	}

	.blue-bar article{
		width: 100% !important;
		float: none !important;
		padding: 0 20px !important;
		box-sizing: border-box !important;
	}

	.rightbg{
		position: static !important;
	}

	.blue-bar .centralizer{
		padding: 0 !important;
	}

	.banner .owl-carousel{
		padding-top: 181px !important;
	}

	.home-contents{
		margin: 0 !important;
	}

	.home-contents .centralizer{
		margin: 0 !important;
	}

}

@media only screen and (max-width: 1010px){
	.trip-search-wrap .trip-search{
		display: none;
	}

	.home-intro{
		background: none;
		padding: 25px 30px;
	}

	.home-contents aside {
    	padding: 25px 30px;
	}

	.home-intro p{
		padding: 0;
	}
}

@media only screen and (max-width: 1200px){
	.home-contents .centralizer {
	    width: auto;
	    margin: 0 30px;
	}

	.blue-bar .centralizer {
    	padding: 0 0 0 30px;
	}

	.rightbg{
		width: 34.3% !important;
	}

	.affiliations {
	    margin: 30px !important;
	    margin-top: 20px !important;
	}

	.fb-box {
	    margin: 30px 30px 20px 30px !important;
	    overflow: hidden;
	}

	.blue-bar article .inner {
	    margin: 0 30px !important;
	    margin-right: 0px !important;
	    padding-left: 30px !important;
	}
}

@media only screen and (min-width: 1010px){
	.trip-search-wrap{
		display: block;
		top: -148px;
		right: 5px;
		position: absolute;
	}

	.trip-search-wrap .trip-search{
		width: 600px !important;
		background: none !important;
		border: none !important;
	}

	.submit-search{
		width: 150px !important;
		float: left;
		margin-left: 10px;
	}

	.trip-search .search-term-wrapper{
		width: 140px;
		float: left;
		margin-left: 10px;
	}

	.trip-search .search-term-wrapper:first-child{
		margin-left: 0;
	}

	.trip-search div a{
		font-family: 'Roboto', sans-serif;
	}

}

@media only screen and (max-width: 1010px){
	.header-top .phones span:before {
    	content: '';
    	display: block;
    	margin: 4px 0 0 0;
	}

	.header-top .phones span{
		display: block;
	}

	.header-top .phones {
	    margin-top: 20px;
	}

	.trip-search-wrap{
		display: block;
	}

	.trip-search-wrap > a {
		display: block;
	}
}

.more-menu{
	display: none;
}

@media only screen and (max-width: 1200px){
	.more-menu{
		display: block;
	}

	nav > ul >.faq-menu, nav > ul > .contact-menu{
		display: none;
	}

	.logo >img{
		display: none;
	}

	.centralizer{
		max-width: 100%;
	}

	.more-meu .customize-menu{
		display: none;
	}

	.more-menu .travel-center-menu{
		display: none;
	}
}

@media only screen and (max-width: 1020px){
	nav > ul >.customize-menu{
		display: none;
	}

	.more-meu .customize-menu{
		display: block;
	}
}

@media only screen and (max-width: 875px){
	nav > ul > .travel-center-menu{
		display: none;
	}

	.more-menu .travel-center-menu{
		display: block;
	}

	.more-menu .travel-center-menu ul{
		display: none;
		overflow: auto;
		height: 100px;
	}

	.more-menu .show ul{
		display: block !important;
	}
}

.more-menu .have-child > a {
	position: relative;
}

.more-menu .have-child > a:before {
    content: '';
    position: absolute;
    right: 20px;
    top: 8px;
    background: #b72025;
    width: 14px;
    height: 14px;
    border-radius: 3px;
}

.more-menu .have-child > a:after {
    content: '';
    position: absolute;
    right: 24px;
    top: 14px;
    border-top: 3px solid #fff;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

@media only screen and (max-width: 600px){
	.header-top .phones {
	    background: #CCC;
	    text-align: left;
	    margin: 0 0 20px 0;
	    padding: 10px;
	    line-height: 1.4em;
	    float: none;
    }

     header .header-top{
    	padding: 0 0 20px 0;
    }

    .header-top .phones span{
    	display: inline;
    }

    .header-top .phones span:before{
    	display: inline;
    	content: '/';
    }
}

.more-menu .company-menu{
	display: none;
}

@media only screen and (max-width: 600px){
	.banner .owl-carousel{
		padding-top: 208px !important;
	}
}


@media only screen and (max-width: 585px){
	nav ul .company-menu{
		display: none;
	}

	.more-menu .company-menu{
		display: block;
	}

	.more-menu .company-menu ul{
		display: none;
	}

	.more-menu .show ul{
		display: block;
	}
}

.more-menu .destinations-menu{
	display: none;
}

nav ul li a ins{
		text-decoration: none;
		display: none;
}

@media only screen and (max-width: 520px){
	.banner .owl-prev, .banner .owl-next{
		top: 65%;
	}
}

@media only screen and (max-width: 350px){
	.banner .owl-prev, .banner .owl-next{
		top: 70%;
	}
}

@media only screen and (max-width: 445px){
	nav ul li a span{
		display: none;
	}

	nav ul li a ins{
		display: block;
	}

	nav ul .destinations-menu{
		display: none;
	}

	nav ul .more-menu{
		float: right;
		border-left: 1px solid #ccc;
		border-right: none;
	}

	.more-menu .destinations-menu{
		display: block;
	}

	.more-menu .destinations-menu ul{
		display: none;
	}
}
/*responsive header ends*/


.trip-search-wrap .trip-search {
	position: absolute;
    right: 0;
    bottom: auto;
    top: 61px;
    width: 250px;
    padding: 20px;
    border: 1px solid #b72025;
    background: #f5f5f5;
    text-align: right;
    font-size: 0.8em;
}

.show-form .trip-search{
	display: block;
	z-index: 2;
}

.show-form > a {
	background: #f5f5f5 url(../img/icon-search-red.png) center no-repeat !important;
	border-right: 1px solid #b72025;
	border-left: 1px solid #b72025;
	border-top: 5px solid #b72025;
	position: relative;
}

.show-form >a:after{
	    border-top: 1px solid #f5f5f5;
	    position: absolute;
	    bottom: -1px;
	    right: 0;
	    content: '';
	    z-index: 3;
	    width: 100%;
}

.search-term {
    height: 28px;
    line-height: 26px;
    border: 1px solid #b2b2b2;
    padding: 0 10px;
    background: #fff;
    font-size: 1.2em;
    color: #000;
    font-weight: 300;
    position: relative;
    padding-right: 26px;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.clicked .search-term{
    border: 1px solid #b72025;
}

.clicked .search-options{
	visibility: visible;
	opacity: 1;
}

.search-term:after {
    content: '';
    position: absolute;
    right: 9px;
    top: 11px;
    border-top: 6px solid #4c4c4c;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.submit-search {
    background: #b72025 url(../img/icon-search.png) right center no-repeat;
    border: none;
    height: 28px;
    line-height: 28px;
    padding: 0 0 0 10px;
    color: #fff;
    font-weight: 400;
    border-right: 10px solid #b72025;
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.submit-search:hover{
	background: #000 url(../img/icon-search.png) right center no-repeat;
	border-right: 10px solid #000;
}

.trip-search div a {
    display: inline-block;
    margin-top: 5px;
    font-size: 1.05em;
}

.trip-search-wrap a {
    color: #b72025;
}

.trip-search-wrap a:hover{
	color: #000;
}

.search-options {
    position: absolute;
    left: 0;
    top: 25px;
    background: #fff;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #b72025;
    border-top: none;
    border-bottom: 5px solid #b72025;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}

.search-options label {
    display: block;
    text-align: left;
    height: 28px;
    line-height: 28px;
    border-top: 1px solid #ccc;
    font-weight: 400;
    font-size: 1.1em;
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.search-options label:first-child {
    margin-top: 10px;
    border: none;
}

.search-term-wrapper{
    position: relative;
}

.search-options label input {
    position: absolute;
    left: -200px;
    top: 0;
}

.clicked-red{
	color: #b72025;
}

.search-options label:hover {
	background: #f5f5f5;
    color: #b72025;
}

.stretch-height-article{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	width: 62%;
	z-index: -1;
}

.stretch-height-aside{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	background: #f2f2f2;
	width: 38%;
	z-index: -1;
	border-left: 1px solid #d9d9d9;
}

.home-contents .centralizer{
	position: relative;
}

.blue-bar {
    background: #355d90 url(../img/bg-blue-bar.png) center bottom no-repeat;
}

.blue-bar aside {
    width: 35%;
    float: left;
    position: relative;
}

.fb-box {
    margin: 40px;
    margin-bottom: 0;
    border: 10px solid #fff;
    border-radius: 5px;
    background: #fff;
}

.blue-bar .rightbg {
    background: url(../img/blacktrans-20pc.png);
}

.blue-bar .centralizer{
	position: relative;
}

.rightbg {
    position: absolute;
    width: 35%;
    top: 0;
    bottom: 0;
    right: 0;
}

.affiliations {
    margin: 40px;
    margin-top: 30px;
}

.affiliations a {
    float: left;
    margin: 5px 5px 0 0;
}

.blue-bar article {
    width: 65%;
    float: left;
}

.blue-bar article > div:first-child {
    width: 45%;
}

.blue-bar article > div {
    width: 55%;
    float: left;
    margin: 40px 0;
}

.blue-bar h3:first-child, .blue-bar img + h3 {
    border: none;
    margin: 0 0 15px 0;
    padding: 0;
}

.blue-bar h3 {
    border-top: 1px solid #7890b2;
    color: #fffbcc;
    font-size: 1.3em;
    margin: 25px 0 15px 0;
    padding-top: 20px;
    text-transform: none;
}

.blue-bar p {
    color: #fff;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 10px;
    font-size: 0.845em;
}

.blue-bar article p img {
    float: right;
    margin: 10px 0 10px 25px;
}

.blue-bar article p a {
    color: #ff0;
    text-decoration: underline;
}

.blue-bar article .inner {
    margin: 0 40px;
    border-left: 1px solid #7890b2;
    padding-left: 40px;
}

.blue-bar img + h3 {
    margin-top: 20px;
}

.blue-bar .btn-round {
    margin-top: 15px;
    border: 1px solid #39567c;
    color: #333;
}

.header-nopos .banner{
	padding-top: 0;
}

@media only screen and (max-width: 500px){
	.home-contents article {
	    float: none; 
	    width: 100%;
	    background: #fff;
	}

	.home-contents aside {
	    float: right; 
	    width: 100%;
    }

    .blue-bar article > div {
	    width: 100% !important;
	    float: none !important;
	}
}

@media only screen and (max-width: 500px){
	.blue-bar article .inner {
		    margin: 0px !important;
		    padding-left: 0px !important;
		    border: none !important;
		    border-top: 1px solid #7890b2 !important;
		    padding-top: 25px !important;
		}

	.blue-bar article div{
		padding-top: 20px;
	}
}

.destinations-block {
    float: left;
    width: 65%;
    background: #fff url(../img/bg-grey.png) center repeat-y;
}

.destinations-block span a {
    display: inline-block;
    color: #000000;
    font-size: 0.9em;
    text-decoration: underline;
    margin: 3px 0 0 3px;
}

.destinations-block span a:first-child {
    display: block;
    font-size: 2em;
    color: #4c66a4;
    font-family: 'Pacifico', cursive;
    margin: 0 0 -8px 0;
    text-decoration: none;
}

.destinations-block span ins {
    display: block;
    margin-left: 15px;
    text-decoration: none;
}

.destinations-block span {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
}

.destination-block .inner div {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.destination-block img {
    display: inline-block;
    max-width: 100%;
}

.destinations-block .inner {
    padding: 30px 25px;
    padding-top: 20px;
    letter-spacing: -4px;
}

.destination-block {
    width: 50%;
    float: left;
}

.destinations-block > div {
    background: url(../img/bg-grey.png) center repeat-x;
}

.destinations-block span a:hover {
    color: #b72025;
}

.footer-top {
    margin-top: 40px;
}

/*social news letter starts*/
.social-newsletter {
    float: left;
    width: 35%;
    position: relative;
}

.trip-advisor {
    background: #e1d3c2;
    padding-bottom: 20px;
}

.trip-advisor > div:first-child {
    width: 19%;
}

.trip-advisor > div {
    float: left;
    margin-top: 20px;
    width: 81%;
}

.trip-advisor a {
    margin: 0 20px 0 15px;
    display: block;
}

.trip-advisor > div:first-child a {
    margin: 0 0 0 20px;
}

.newsletter {
    background: #cac1b3;
    position: relative;
}

.newsletter .inner {
    padding: 20px;
}

.newsletter input[type=text] {
    border: none;
    width: 100%;
    height: 35px;
    text-indent: 10px;
    font-size: 0.9em;
    padding: 0;
}

.newsletter input[type=submit] {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 35px;
    background: #d12028 url(../img/icon-newsletter.png) center no-repeat;
    width: 55px;
    border: none;
    border-left: 10px solid #fff;
}

.footer-top .centralizer > .clearfix:first-child {
    background: #cac1b3;
}

.social a {
    width: 16.66666666666667%;
    float: left;
    position: relative;
    padding-top: 16.66666666666667%;
}

.social a span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.facebook {
    background: #4c66a4 url(../img/icon-facebook.png) center no-repeat;
}

.twitter {
    background: #32bbee url(../img/icon-twitter.png) center no-repeat;
}

.youtube {
    background: #990000 url(../img/icon-youtube.png) center no-repeat;
}

.pinterest {
    background: #ab1a1f url(../img/icon-pinterest.png) center no-repeat;
}

.gplus {
    background: #cb2027 url(../img/icon-gplus.png) center no-repeat;
}

.rss {
    background: #fe9900 url(../img/icon-rss.png) center no-repeat;
}
/*social news letter ends*/

@media only screen and (max-width: 1200px){
	.footer-top .centralizer {
	    width: auto;
	    padding: 0 30px;
	}
}

@media only screen and (max-width: 790px){
	.footer-top .centralizer {
	    padding: 0px;
	}

	.destinations-block{
		float: none;
		width: 100%;
	}

	.social-newsletter{
		float: none;
		width: 100%;
	}

	.trip-advisor {
	    float: left;
	    width: 50%;
	}

	.newsletter {
	    width: 50%;
	    float: left;
	}
}

@media only screen and (max-width: 500px){
	.trip-advisor {
		float: none;
		width: 100%;
	}

	.newsletter {
		float: none;
	    width: 100%;
	}

	.destination-block {
	    float: none;
	    width: 100%;
	    background: #fff;
	    border-bottom: 1px solid #ccc;
	}

	.destination-block:last-child {
	    border-bottom: none;
	}

	.destination-block .inner div{
		width: 40%;
	}

	.destinations-block span{
		width: 60%;
	}

	.blue-bar article > div{
		margin: 0;
	}

	.footer-top{
		margin-top: 0;
	}

}

.footer-links {
    background: #e8e8e8 url(../img/bg-header-top.png) center center repeat-x;
    padding: 25px 30px;
    position: relative;
    margin-bottom: 40px;
}

.footer-links > div {
    float: left;
    width: 30%;
}

.footer-links h3 {
    font-weight: 500;
    font-size: 1.4em;
    text-decoration: underline;
    color: #d12028;
    margin: 0;
    line-height: 1.2em;
    font-weight: 400;
}

.footer-links h3 span {
    color: #2d2b2c;
    text-decoration: underline;
}

.footer-links ul {
    float: left;
    width: 45%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 15px;
}

.footer-links h3 + ul {
    width: 55%;
}

.footer-links a {
    color: #000;
    font-weight: 300;
    font-size: .85em;
    position: relative;
    padding-left: 17px;
    display: block;
    line-height: 1.4em;
}

.footer-links a:hover {
    text-decoration: underline;
    color: #d12028;
}

.footer-links a:before {
    position: absolute;
    content: '';
    left: 0;
    top: 7px;
    width: 6px;
    height: 6px;
    background: #d12028;
    border-radius: 3px;
}

.footer-links li {
    margin-top: 7px;
}

.footer-links .inner {
    margin: 0 30px;
}

.footer-links > div:first-child + div + div ul {
    width: 100%;
    margin-right: 0;
}

.footer-links > div:first-child + div + div {
    width: 38%;
}

.footer-links h3 + ul li {
    margin-right: 20px;
}

.footer-links > div:first-child + div {
    width: 32%;
}

@media only screen and (max-width: 1010px){
	.footer-links h3 + ul {
	    width: 100%;
	    float: none;
	}

	.footer-links ul {
    	width: 100%;
    	float: none;
    }

    .footer-top {
	    margin-top: 30px;
	}

	.footer-links{
		padding: 20px;
	}

	.footer-links .inner {
	    margin: 0 20px;
	}
}

@media only screen and (max-width: 500px){
	.footer-links div {
	    float: left; 
	    width: 100%;
	}

	.footer-links > div:first-child + div {
	    width: 100%;
	}

	.footer-links > div:first-child + div + div {
	    width: 100%;
	}

	.footer-links .inner {
	    margin: 0px;
	}

	.footer-links {
    	background: #e8e8e8;
    }

    .footer-links .inner {
	    margin: 20px 0;
	}

	.footer-links li {
	    border-top: 1px solid #fff;
	    padding-top: 7px;
	}
}

footer {
    background: #fff;
    margin-top: 40px;
    font-size: 0.9em;
    font-weight: 300;
    padding-bottom: 30px;
}

footer .redbar {
    text-align: center;
    color: #fff;
    background: #b72025;
    padding: 5px 20px 15px 20px;
}

footer .redbar a {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    line-height: 100%;
    font-size: 14px;
}

footer .redbar a:hover {
    color: #ff0;
    text-decoration: underline;
}

footer .centralizer div {
    float: left;
    margin-right: 40px;
}

footer .centralizer > div:first-child + div div + div, footer .centralizer > div + div + div, footer .centralizer div div + div + div {
    margin-right: 0;
}

footer p {
    line-height: 1.5em;
    padding-top: 30px;
}

footer strong {
    color: #b72025;
    font-weight: 600;
}

@media only screen and (max-width: 1200px){
	footer .centralizer {
	    width: auto;
	    padding: 0 30px;
	}
}

@media only screen and (max-width: 790px){
	footer .centralizer {
	    width: auto !important;
	    padding: 0 20px !important;
	}
}

.footer-last {
    background: #fff;
    text-align: center;
    font-size: 0.8em;
    padding: 0 20px 35px 20px;
    line-height: 1.4em;
}

.footer-last a {
    display: inline-block;
    margin: 7px 2px 0 2px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    letter-spacing: -4px;
    background: #666;
}

.footer-last a img {
    vertical-align: middle;
    display: inline-block;
    margin-top: 8px;
}

.home-testimonials h2 {
    word-break: break-all;
}