body{
	margin: 0;
	background: #262730 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/noise-bg.png);
	font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.test{
	width: 200px;
	height: 200px;
	background: #090;
}

.center{
	width: 960px;
	margin:auto;
	background-color: rgba(0,0,0,.3);
}

header{
	padding: 50px 0 0 0 !important;
	margin: 0;
}

header img{
	display: block;
	width: 200px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin-left: 20px;
	transition: .5s;
	margin: 0 375px ;
}

.myself h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #d9d8cf;
	margin: 0;
	padding: 20px 0;
	font-size: 40px;
	text-align: center;
}

.myself h5{
	color: #d9d8cf;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

.myself p{
	margin: 0px;
	padding: 0 55px;
    text-align: center;
    line-height: 30px;
    color: #d9d8cf;
    font-weight: 300;
    letter-spacing: .5px;
}

.myself p strong, .myself p span{
	color: #555;
	font-weight: 600;
}

/*works starts*/

.works{
	border-top: 2px solid #262730;
}

.works h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 28px;
	color: #333;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	
}

.works ul{
	margin: 0;
	padding: 10px;
	float: left;
}

.works li{
	list-style: none;
	margin: 18px;
	padding: 0px;
	float: left;

}

.works a{
	color: #ccc;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.works a img{
	display: block;
	width: 277px;
	height: 175px;
    filter: blur(5px);
}

.works a img:hover {
    filter: blur(0px);
    transform:scale(1.2);
    transition: .5s;
}

/*works ends*/

/*contacts starts*/

.contact-details{
	margin: 50px 320px;
}

.contacts a{
	text-decoration: none;
	margin: 0 7px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	float: left;
	transition: .5s;
	filter: grayscale(100%);
}

.contacts a:hover{
	transform: scale(1.25);
	filter: grayscale(0%);
}


.contacts img{
	float: left;
}


.contacts img{
	width: 50px;
	height: 50px;
	float: left;
}
	
/*contacts ends*/

/*footer start*/

footer h5 {
	margin: 5px 0 40px 0 ;
	padding: 0 !important;
    height: 50px;
    line-height: 50px;
    padding-top: 14px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*footer ends*/
