body{
	margin: 0;
	background: #262730 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/noise-bg.png);
	font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.test{
	width: 200px;
	height: 200px;
	background: #090;
}

.center{
	width: 960px;
	margin:auto;
	background-color: rgba(0,0,0,.3);
}

header{
	padding: 50px 0 0 0 !important;
	margin: 0;
}

header img{
	display: block;
	width: 200px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin-left: 20px;
	transition: .5s;
	margin: 0 375px ;
}


.myself p{
	margin: 0px;
    text-align: center;
    line-height: 26px;
    color: #d9d8cf;
    font-weight: 300;
}

.myself p strong, .myself p span{
	/*color: #d81c23;*/
	/*color: #B4FF7D;*/
	color: #ff8000;
	font-weight: 300;
}




.myself h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #d9d8cf;
	margin: 0;
	padding: 20px 0;
	font-size: 40px;
	text-align: center;
}

.myself h5{
	color: #d9d8cf;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	margin: 0;
}

.works{
	border-top: 2px solid #262730;
}

.works h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #ccc;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	
}

.works ul{
	margin: 0;
	padding: 10px;
}

.works li{
	list-style: none;
	margin: 10px;
	padding: 10px;

}

.works a{
	color: #ccc;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.works a:hover{
	color: #fff;
}

/*contacts starts*/

.contact-details{
	margin: 50px 320px;
}

.contacts a{
	text-decoration: none;
	margin: 0 7px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	float: left;
	transition: .5s;

}

.contacts a:hover{
	transform: scale(1.5);
}


.contacts img{
	float: left;
}


.contacts img{
	width: 50px;
	height: 50px;
	float: left;
}
	
/*contacts ends*/

/*footer start*/

footer h5 {
	margin: 0 ;
	padding: 0 !important;
    height: 50px;
    line-height: 50px;
    padding-top: 14px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*footer ends*/

/*about-me starts*/

/*about-me ends*/
