body{
	margin: 0;
	background: url(images/nature1.jpg) no-repeat;
	
	
}

@media only screen and (min-width: 770px){
	body{
		background-color: ;
	}
	
}

.center{
	width: 960px;
	margin:auto;
}
			
			nav{
				width: 100%;
			}
			nav ul {
				float: right;
			    list-style-type: none;
			    margin: 0;
			    padding: 0;
			    overflow: hidden;		
			    }

			nav li {
			    float: left;
			}

			nav li a {
			    display: block;
			    color: #ccc;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			    font-family: 'Open Sans', sans-serif;
			}

			nav li a:hover {
			    color: #fff;
			}

header{
	background-color: rgba(0,0,0,.5);
	padding: 50px 0;
}

header img{
	float: left;
	width: 320px;
	margin-left: 20px;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.myself{
	float: left;
	margin-left: 20px;
}



.myself h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	margin: 0;
	padding-top: 120px;
	font-size: 40px;
}

.myself h5{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.works{
	margin-top: 5px;
	
}

.works h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #927fa5;
	background-color: #26004c;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.works ul{
	margin: 0;
	background-color: rgba(59,25,93,.7);
	padding: 10px;
    
}

.works li{
	list-style: none;
	margin: 10px;
	padding: 10px;

}

.works a{
	color: #927fa5;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.works a:hover{
	color: #fff;
}


@media only screen and (max-width: 770px){

	nav{
		width: 380px;
		float: left;
	}
	nav ul{
		float: left;
		padding-left: 5px;
	}

	header img{
		float: left;
		width: 320px;
		height: auto;
	}

	.myself{
		width:100%;
		float: left;
	}

	.myself >h2{
	font-size: 20px;
	padding-top: 20px;
	}

	.myself h5{
		padding-top: 10px;
		margin-top: 0;
	}

	.works h4{
		text-align: left;
		padding-left: 30px;
	}
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 480px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 33.33%;
    }
}
