body{
	margin: 0;
	background: url(images/nature123.jpg) 0 0 no-repeat;
	font-family: 'Open Sans', sans-serif;
	
	
}

@media only screen and (min-width: 770px){
	body{
		background-color: ;
	}
	
}

.test{
	width: 200px;
	height: 200px;
	background: #090;
}

.center{
	width: 960px;
	margin:auto;
}
			
			nav{
				width: 100%;
			}
			nav ul {
				float: right;
			    list-style-type: none;
			    margin: 0;
			    padding: 0;
			    overflow: hidden;		
			    }

			nav li {
			    float: left;
			}

			nav li a {
			    display: block;
			    color: #ccc;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			    font-family: 'Open Sans', sans-serif;
			}

			nav li a:hover {
			    color: #fff;
			}

header{
	background-color: rgba(0,0,0,.3);
	padding: 50px 0;
}

header img{
	float: left;
	width: 320px;
	margin-left: 20px;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.myself{
	float: left;
	margin-left: 20px;
}



.myself h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	margin: 0;
	padding-top: 120px;
	font-size: 40px;
}

.myself h5{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.works{
	margin-top: 5px;
	
}

.works h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	color: #ccc;
	background: rgba(0,0,0,.8);
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.works ul{
	margin: 0;
	background-color: rgba(0,0,0,.3);
	padding: 10px;
    
}

.works li{
	list-style: none;
	margin: 10px;
	padding: 10px;

}

.works a{
	color: #ccc;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.works a:hover{
	font-weight: 400;
}


@media only screen and (max-width: 770px){

	nav{
		width: 380px;
		float: left;
	}
	nav ul{
		float: left;
		padding-left: 5px;
	}

	header img{
		float: left;
		width: 320px;
		height: auto;
	}

	.myself{
		width:100%;
		float: left;
	}

	.myself >h2{
	font-size: 20px;
	padding-top: 20px;
	}

	.myself h5{
		padding-top: 10px;
		margin-top: 0;
	}

	.works h4{
		text-align: left;
		padding-left: 30px;
	}
}


/*contacts starts*/
.contacts{
	background:	#333;
	margin: 10px 0 0 0;
	width: 100%;
	border-bottom: 2px solid #eee;
	border-top: 2px solid #4c4c4c;
	padding: 50px 0;
	
}

.contacts h4{
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 32px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
	background: #1B1811;
}

.contact-details{
	padding: 50px 150px;
}

.contacts a{
	text-decoration: none;
	margin: 0;
	padding: 0 30px !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	float: left;

}

.contacts a:hover{
	transform: rotate(360deg);
	transition: .5s;
}


.contacts img{
	float: left;
}


.contacts img{
	width: 50px;
	height: 50px;
	float: left;
}
	
/*contacts ends*/

/*footer start*/

footer {
  background: #d81c23;

}

footer h5 {
	margin: 0 ;
	padding: 0 !important;
    height: 70px;
    line-height: 70px;
    padding-top: 14px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*footer ends*/

/*about-me starts*/
.about-me{
	color: #ccc;
    background: rgba(0,0,0,.3);
    margin-top: 10px;
}

.about-me h4{
	margin: 0;
	background: rgba(0,0,0,.8);
	padding: 0;
	text-align: center;
	font-size: 32px;
	padding: 10px 0;
	font-weight: 300;
}

.about-me p{
	margin: 0px;
	padding: 40px 30px;
	font-family: arial;
    font-weight: 300;
    text-align: center;
    line-height: 26px;
}

.about-me p strong{
	color: #d81c23;;
}

.about-me p span{
	color: #d81c23;;
}
/*about-me ends*/