/*Global starts*/
body{
	margin: 0;
		font-family: 'Open Sans', sans-serif;
}

.test{
	background: #000;
	color: #fff;
	height: 100px;
}
.center{
	width: 960px;
	margin: 0 auto;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

/*Global ends*/

/*nav starts*/
nav{
	background-color: #000;
	position: relative;
}

nav >.center{
	position: relative;
	z-index: 5;
}

.half{
	width: 50%;
	height: 42px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: #d81c23;

}
.logo{
	float: left;
	background-color: #d81c23;
	font-family: arial;
	font-size: 24px;
	font-weight: 600;
	color: #fff;
	line-height: 42px;
	padding-right: 18px;
	letter-spacing: -1px;
}

nav .center >ul{
	margin: 0;
	padding: 0;
	float: left;
	background-color: #000;
}

nav .center >ul>li{
	list-style: none;
	float: left;
	position: relative;
	margin-right: 15px;
}

nav .center>ul>li:first-child{
	margin-left: 15px;
}

nav >.center >ul>li>a:hover{
	color: #fff;
}

nav >.center >ul>li>a{
	color: #cbcbcb;
	text-decoration: none;
	display: block;
	height: 42px;
	line-height: 42px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	position: relative;
}

nav >.center >ul > .active:first-child {
	margin-left: 0;
}

nav >.center >ul .active > a{
	background-color: #fff;
	color: #000;
	cursor: default;
	padding: 0 18px;
	margin-left: 0;
}

nav >.center >ul> .active> a:after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
	height: 8px;
	background-color: #d81c23;
}

nav >.center >ul>.active> a:hover{
	color: #000;
}

nav .center ul ul {
	position: absolute;
	left: 0;
	top: 52px;
	width: 200px;
	margin: 0;
	padding: 10px 0;
	float: left;
	background-color: #4f4f4f;
	visibility: hidden;
	transition: .5s;
	opacity: 0;
}

nav .center li:hover ul {
	visibility: visible;
	top: 42px;
	opacity: 1;
}

nav .center ul ul:before{
	content: '';
	border-bottom: 10px solid #4f4f4f;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	left: 10px;
	top: -10px;
	z-index: 10;
}

nav .center ul ul li{
	list-style: none;
	background-color: #4f4f4f;
	color: red;
	border-bottom: 1px solid #686868;
}

nav .center ul ul li:hover{
	background-color: #575757;
}

nav .center ul ul a{
	text-decoration: none;
	color: #cbcbcb;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 18px;
	display: block;
	border-bottom: 1px solid #3d3d3d;
	padding: 4px 15px 6px 30px;
	position: relative;
}

nav .center ul ul a:hover{
	color: #fff;
}

nav .center ul ul li:first-child{
	border-top: 1px solid #3d3d3d;
}

nav .center ul ul li:first-child a{
	border-top: 1px solid #686868;
}

nav .center ul ul img{
	position: absolute;
	top: 7px;
	left: 10px;
}

nav .login{
	position: absolute;
	right: 0;
	top: 0;
}

.search{
	float: right;
	width: 42px;
	height: 42px;
	background-color: #d81c23;
}

.search img{
	display: inline-block;
}

nav .login-left {
	background: #4d4d4d url(../images/icon-login.png) 10px center no-repeat;
	float: left;
	width: 93px;
	height: 42px;
	background-color: #4d4d4d;
}

nav .login-left:hover{
	background-color: #6f6f6f;
}

.login >form {
	float: left;
	position: relative;

}

.login >form >input{
	background: #d81c23 url(../images/icon-search.png) right center no-repeat;
	height: 40px;
	border: 0;
	margin: 0;
	color: #fff;
	width: 42px;
	transition: .5s;
}

.login >form >input:focus {
	width: 150px;
	padding: 0 42px 0 10px;
	height: 42px;
}

.login >form >span{
	color: #fff;
	position: absolute;
	top: 52px;
	right: 0;
	padding: 8px 10px;
	background-color: #000;
	font-size: 11px;
	width: 180px;
	font-family: arial;
	line-height: 16px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}

.login >form >span >a{
	color: #fff;
}

.login >form >span >a:hover{
	color: #d81c23;
}

.login >form:hover >span{
	visibility: visible;
	opacity: 1;
	top: 42px;
}

.form-login{
	float: right;
	width: 220px;
	height: 230px;
	background-color: #6f6f6f;
	position: absolute;
	right: 0px;
	top: 52px;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
}

.form-login p{
	color: #fff;
	background-color: #d81c23;
	height: 25px;
	width: 170px;
	padding: 0 0 0 10px;
	margin: 20px 20px 0 20px;
	font-size: 11px;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
}

.form-login input{
	height: 30px;
	width: 160px;
	padding: 0 10px;
	display: block;
	margin: 8px 20px 0 20px;
	border: none;
	background-color: #d4d4d4;

}

.form-login input[type=submit]{
	background: #d81c23 url(../images/icon-login.png) right 12px center no-repeat;
	width: 180px;
	padding: 0 10px;
	text-align: left;
	color: #fff;
	margin-bottom: 18px;
}

.form-login .forgot{
	background-color: #000;
	font-size: 11px;
	height: 42px;
	color: #fff;
	font-family: arial;
	padding: 10px 0 0 20px;
	line-height: 16px;
	border-top: 1px solid #969696;
}

.form-login .forgot a{
	color: #fff;
	text-decoration: none;
}

.form-login .forgot a:hover{
	color: #fff;
	text-decoration: underline;
}

.login-left:hover .form-login{
	visibility: visible;
	top: 42px;
	opacity: 1;
}

/*nav ends*/

/*header starts*/

header{
	height: 106px;
}

header h3{
	margin: 0;
	padding: 0;
	line-height: 106px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 37px;
	color: #5f5f61;
	text-transform: uppercase;
	letter-spacing: -1.5px;
	width: 500px;
	float: left;
}

.center >header >a{
	background: #d81c23 url(../images/icon-tv.png) left 10px center  no-repeat;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	height: 26px;
	line-height: 26px;
	text-decoration: none;
	float: right;
	padding: 0 10px 0 32px;
	margin: 40px 0 0 10px;
	transition: .5s;
}

.center >header >a:hover{
	background: #4c4c4c url(../images/icon-tv.png) left 10px center no-repeat;
}

.center >header>.btn-help{
	background: #d81c23 url(../images/icon-help.png) left 10px center  no-repeat;
}

.center >header>.btn-help:hover{
	background: #4c4c4c url(../images/icon-help.png) left 10px center  no-repeat;
}

.center >header  >.btn-affiliate{
	background: #d81c23 url(../images/icon-affiliate.png) left 10px center  no-repeat;
}

.center >header  >.btn-affiliate:hover{
	background: #4c4c4c url(../images/icon-affiliate.png) left 10px center  no-repeat;
}

/*header ends*/

.video-back{
	background:  #000 url(../images/main-background.png) center 0 no-repeat; /* main video background image */
}

.video-back .center iframe{
	width:960px;
	height: 526px;
	border: none;
}

/* video description starts*/
.video-description{
	background-color: rgba(0,0,0,.5);
	height: 60px;
	border-top: 2px solid #000;
	margin-top: -4px;
}

.video-description >img{
	margin: 20px 0 0 20px;
	float: left;
}

.video-description >p{
	display: inline;
	font-family: arial;
	font-size: 18px;
	color: #a7a7a6;
	float: left;
	margin: 21px 0 0 7px;
}

.video-description >a{
	color: #fff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 13px;
	background-color: #d81c23;
	height: 26px;
	line-height: 26px;
	float: right;
	padding: 0 9px;
	margin: 16px 10px 0 0;
}

.video-description >a:hover{
	background: #6f6f6f;
}

.video-description >a >img{
	margin-right: 5px;
	margin-top: 8px;
	float: left;
}

.video-description >a[class=btn-share]{
	margin-right: 20px;
}

/*video desctiption ends*/

/*image slider starts*/
.hamro{
	padding: 20px 39px;
	background: #000;
	margin-top: 1px;
}

.owl-nav .owl-prev{
	background-color: #4d4d4d !important;
	width: 23px;
	height: 23px;
	border-radius: 0 !important;
	position: absolute;
	margin: 0 !important;
	padding:0 !important;
	opacity: 1;
	left: -39px;
	top: 30px;
	height: 24px;
	width: 24px;
	line-height: 24px;
	text-align: center;
}
.owl-nav .owl-prev:before {
  font-family: 'FontAwesome';
  content: "\f104";
  
}

.owl-nav .owl-next{
	background-color: #4d4d4d !important;
	width: 23px;
	height: 23px;
	border-radius: 0 !important;
	position: absolute;
	margin: 0 !important;
	padding:0 !important;
	opacity: 1;
	right: -39px;
	top: 30px;
	height: 24px;
	width: 24px;
	line-height: 24px;
	text-align: center;
}
.owl-nav .owl-next:before {
  font-family: 'FontAwesome';
  content: "\f105";
}

.overlay{
	width: 100%;
	height: 100%;
	position: relative;
}

.overlay span {
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	letter-spacing: -7px;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	transition: .5s;
}

.overlay:hover span{
	visibility: visible;
	opacity: .5;
}

.overlay ins{
	display: inline-block;
	vertical-align: middle;
	height: inherit;
}

/*image slider ends*/

/*more video bar starts*/

.more-videos{
	background: #d81c23;
	height: 50px;
	margin-top: 30px;
	
}

.play-more{
	color: #fff;
	font-size: 30px;
	float: left;
	background: #971418;
	width: 38px;
	height: 50px;
	line-height: 50px;
	padding-left: 12px;
	margin-right: 17px;
}

.more-videos p{
	color: #fff;
	font-family: arial;
	font-weight: bold;
	font-size: 22px;
	line-height: 50px;
	letter-spacing: -1px;
	float: left;
	margin: 0;
}

.more-videos a{
	color: #000;
	background: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-decoration: none;
	float: right;
	height: 26px;
	line-height: 26px;
	width: 60px;
	text-align: center;
	margin: 12px 20px;
	text-transform: uppercase;

}

.more-videos a:hover{
	color: #fff;
	background: #000;
}

/*more video bar ends*/

/*banner starts*/

.banner{
	background: #e5e5e5;
	padding: 30px;
}

.b-left{
	float: left;
	position: relative;
}

.b-left img{
	display: block;
}

.b-left span{
	font-size: 80px;
	color: #fff;
	background: #000;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	letter-spacing: -10px;
	visibility: hidden;
	transition: .5s;
}

.b-left ins{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.b-left:hover span{
	visibility: visible;
	opacity: .5;
}

.b-right{
	float: left;
	margin-left: 32px;
	height: 300px;
}

.b-right-top{
	background: #e5e5e5;
	margin-bottom: 6px;
}

.b-right-top h3{
	margin: 0;
	color: #d81c23;
	font-family: arial;
	font-size: 18px;
	font-weight: 400;
}

.b-right-top span{
	font-size: 11px;
	text-decoration: underline;
	font-family: arial;
}

.b-right-top a{
	color: #000;
	font-weight: 700;
	text-decoration: none;
}

.b-r-b-left{
	float: left;
}

.b-right-bottom p{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-right: 20px;
	line-height: 20px;
	margin: 8px 0 0 0;
	width: 264px;
}


.b-right-bottom ul{
	float: right;
	margin: 0;
	padding: 0;
	border-left: 1px solid #fff;
}

.b-right-bottom li{
	list-style: none;
	background: blue;
	margin-left: 20px;
	width: 80px;
	margin-bottom: 11px;
}

.b-right-bottom li:last-child{
	margin-bottom: 0;
}

.b-right-bottom li h4{
	margin: 0;
	background: #d81c23;
	height: 50px;
	line-height: 50px;
	font-size: 44px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-align: center;
	color: #fff;
}

.b-right-bottom li h5{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	background: #000;
	color: #fff;
	margin: 0;
	height: 26px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
}
/*banner ends*/

/*details starts*/

	/*details left starts*/
	.details-left{
		float: left;
		width: 680px;
	}

		/*more-videos starts*/

		.morevideos{
			margin-top: 28px;
			padding-bottom: 20px;
			border-bottom: 2px solid #d81c23;
		}

		.mv-heading{
			padding-bottom: 11px;
			border-bottom: 2px solid #d81c23;
			position: relative;
		}

		.mv-heading img{
			float: left;
			padding-top: 6px;
		}

		.mv-heading h3{
			margin: 0;
			float: left;
			font-size: 22px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			padding: 1px 8px 0 8px;
		}

		.mv-heading a{
			color: #fff;
			background: #d81c23;
			text-decoration: none;
			font-size: 13px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			height: 26px;
			line-height: 26px;
			padding: 0 11px;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			right: 0;
			transition: .5s;
		}

		.mv-heading a:hover{
			background: #616161;
		}


		.mv-content{
			margin-top: 19px;
		}

		.play-mv{
			float: left;
			position: relative; 
		}

		.play-mv img{
			display: block;
		}

		.play-mv >a>span{
			font-size: 80px;
			color: #fff;
			background: #000;
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			letter-spacing: -10px;
			visibility: hidden;
			transition: .5s;
		}

		.play-mv >a>span>ins{
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		.play-mv:hover >a>span{
			visibility: visible;
			opacity: .5;
		}
		/*v-status starts*/

		.v-status{
			background: #d81c23;
			opacity: .8;
			height: 26px;
			width: 280px;
			position: absolute;
			bottom: 0;
			left: 0;
			border-top: 1px solid #000;
			z-index: 5;
			color: #fff;
			line-height: 26px;
			text-decoration: underline;
			padding: 0 10px;
			font-size: 11px;
			font-family: arial;
		}

		.v-status a{
			color: #fff;
			margin-left: 10px;
			font-size: 11px;
		}

		.v-status a span:after{
			content: '';
			color: #fff;
		}

		.v-status .unlike{
			float: right;
			width: 28px;
			height: 24px;
		}

		.comment-dd{
			background: #000;
			color: #fff;
			position: absolute;
			left:30px;
			bottom: -35px;
			font-size: 10px;
			padding: 0 8px;
			height: 24px;
			line-height: 24px;
			border-radius: 4px;
			font-family: arial;
			visibility: hidden;
			transition: .5s;
			opacity: 0;
		}

		.v-status .comment:hover .comment-dd{
			visibility: visible;
			bottom: -30px;
			opacity: 1;
			
		}

		.comment-dd:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #000 transparent;
			position: absolute;
			top:-8px;
			left: 43px;
		}

		.likes-dd{
			background: #000;
			color: #fff;
			position: absolute;
			left: 115px;
			bottom: -35px;
			font-size: 10px;
			padding: 0 8px;
			height: 24px;
			line-height: 24px;
			border-radius: 4px;
			font-family: arial;
			width: 130px;
			visibility: hidden;
			transition: .5s;
			opacity: 0;
		}

		.likes-ddd{
			left: 40px !important;
		}

		.v-status .likes:hover .likes-dd{
			visibility: visible;
			bottom: -30px;
			opacity: 1;
		}

		.likes-dd:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #000 transparent;
			position: absolute;
			top: -6px;
			left: 54px;
		}

		.unlike-dd{
			background: #000;
			width: 68px;
			padding: 0 8px;
			position: absolute;
			right: -10px;
			bottom: -35px;
			font-size: 10px;
			height: 24px;
			line-height: 24px;
			border-radius: 4px;
			font-family: arial;
			visibility: hidden;
			transition: .5s;
			opacity: 0;
		}

		.v-status .unlike:hover .unlike-dd{
			visibility: visible;
			bottom: -30px;
			opacity: 1;
		}

		.v-status .unlike:hover .unlike-ddd{
			visibility: visible;
			bottom: -30px;
			opacity: 1;
			position: absolute;
			left: 40px;
			top: 0;
		}


		.unlike-dd:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #000 transparent;
			position: absolute;
			top: -8px;
			left: 30px;
		}
		/*v-status ends*/

		.mv-desc{
			float: left;
			margin: 0 19px;
		}

		.mv-desc h3{
			font-family: arial;
			font-size: 18px;
			font-weight: 400;
			color: #D81C23;
			margin: 0;
		}

		.mv-desc h4{
			font-family: arial;
			font-weight: 400;
			font-size: 11px;
			margin: 0;
			text-decoration: underline;
			padding-top: 2px;
		}

		.mv-desc h4 a{
			color: #000;
			font-weight: 700;
		}

		.mv-desc p{
			font-family: arial;
			font-weight: 400;
			font-size: 12px;
			margin: 17px 0 0 0;
		}

		/*more-videos ends*/
		
		/*rows starts*/
			.rows{
				height: 500px;
			}
			/*row1 starts*/
			.row1{
				width: 210px;
				float: left;
				margin: 27px 25px 0 0;
			}

			.row1:last-child{
				margin-right: 0;
			}
				.row1 .heading{
					padding-bottom: 9px;
					border-bottom: 2px solid #d81c23;
					
				}

				.row1 .heading img{
					float: left;
					margin: 2px 9px 0 0;
				}

				.row1 .heading h3{
					float: left;
					margin: 0;
					color: #d81c23;
					text-transform: uppercase;
					font-family: arial;
					font-weight: 700;
					font-size: 14px;
					letter-spacing: -.5px;
				}

				.row1 >.play-mv{
					margin: 20px 0 18px 0;
				}

				.row1 >.play-mv >.v-status{
					width: 190px !important;
				}

				.row1 >.play-mv >.v-status >span:hover:after{
					content: "Views";
				}

				.row1 >.play-mv >.v-status >.comment >span:hover:after{
					content: "Comments";
				}

				.row1 >.play-mv >.v-status > .comment .comment-dd{
					left: 0;
				}

				.row1 >.play-mv >.v-status > .comment:hover .comment-dd{
					left: 0;
				}

				.row1 >.play-mv >.v-status > .likes:hover .likes-dd{
					left: 30px;
				}
			/*row1 ends*/
			
			.videos-dis{
				float: left;
			}	
				
				.videos-dis h4{
					color: #d81c23;
					font-family: arial;
					font-size: 18px;
					font-weight: 400;
					line-height: 21px;
					margin:0;
					float: left;
				}

				.videos-dis span{
					font-family: arial;
					font-size: 11px;
					font-weight: 400;
					text-decoration: underline;
					float: left;
					padding-top: 5px;
				}

				.videos-dis a{
					color: #000;
					font-weight: 700;
				}

				.videos-dis p{
					color: #585858;
					float: left;
					font-family: arial;
					font-weight: 400;
					font-size: 12px;
					margin: 0;
					padding: 12px 0 15px 0;
					line-height: 19px;
					border-bottom: 2px solid #d81c23;
				}
			
			.foot{
				float: left;
			}
				.foot img{
					padding-top:13px;
					float: left;
				}
				.foot a{
					float: left;
					color: #d81c23;
					text-decoration: none;
					font-family: arial;
					font-size: 12px;
					padding: 13px 0 0 7px;
				}
		/*rows ends*/

	/*details left ends*/

	/*details right starts*/
	.details-right{
		float: right;
		width: 246px;
	}

		/*aside starts*/
		.aside{
			float: right;
			margin-top: 28px;
			margin-bottom: 25px;
			border-bottom: 2px solid #d81c23;
		}

		.signup{
			float: left;
			border-bottom: 2px solid #d81c23;
			width: inherit;
			padding-bottom: 12px;
		}

		.aside h3{
			margin: 0;
			float: left;
			font-size: 22px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			width: 246px;
			
		}

		.aside p{
			float: left;
			font-size: 13px;
			line-height: 18px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			color: #343434;
			margin: 16px 0 0 0;
		}

		.aside p span{
			color: #d81c23;
			text-decoration: underline;
		}

		.aside form{
			width: inherit;
			float: left;
			margin-top: 18px;
			padding-bottom: 20px;
			border-bottom: 2px solid #d81c23;
		}
		.aside form input{
			border: none;
			background: #999999;
			width: 226px;
			height: 33px;
			line-height: 33px;
			margin-bottom: 10px;
			padding: 0 10px;
			transition: .5s;
			
		}

		.aside form input:focus{
			background: #000;
			color: #fff;
		}

		.aside form input[type=submit]{
			margin-bottom: 0;
		}

		.aside form input::placeholder {
		  	color: #fff;
		  	font-size: 13px;
			font-family: 'Open Sans', sans-serif;
		}

		.aside form input[type=submit]{
			color: #fff;
			text-transform: uppercase;
			font-size: 13px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			background: #d81c23;
			transition: .5s;
			width: 246px;
			
		}

		.aside form input[type=submit]:hover{
			background: #000;
		}

		.aside>img{
			display: block;
			padding: 20px 0 4px 0;
		}

			/* Placeholder style start */
			.aside form input::-webkit-input-placeholder { /* Google Chrome and Apple Safari */
				color: #fff;
				opacity: 1;
			}

			.menubar input::-webkit-input-placeholder { /* Google Chrome and Apple Safari */
				color: #000;
				opacity: 1;
			}

			.aside form input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: #fff;
				opacity: 1;
			}

			.menubar input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				color: #000;
				opacity: 1;
			}

			.aside form input:-moz-placeholder { /* Mozilla Firefox 19+ */
				color: #fff;
				opacity: 1;
			}

			.menubar input:-moz-placeholder { /* Mozilla Firefox 19+ */
				color: #000;
				opacity: 1;
			}

			.aside form input:-ms-input-placeholder { /* Internet Explorer 10 */
				color: #fff;
				opacity: 1;
			}

			.aside form input:-ms-input-focus { /* Internet Explorer 10 */
				color: #fff;
			}

			.menubar input:-ms-input-placeholder { /* Internet Explorer 10 */
				color: #000;
				opacity: 1;
			}
			/* Placeholder style end */

		/*aside ends*/

	/*details right ends*/

.video-row1{
	width: 680px;
	float: left;
	background: #090;
}

/*details ends*/

.latest-video{
	background: #000;
	height: 50px;
	border: 1px solid #000;
}
	.latest-video .lv-img{
		background: #333333;
		float: left;
		width: 50px;
		height: 50px;
	}

		 .lv-img img{
			display: inline-block;
			padding: 12px 0 0 12px;
			width: 25px;
			height: 25px;
		}

	.latest-video h3{
		color: #fff;
		font-family: arial;
		font-weight: 700;
		font-size: 22px;
		margin: 0;
		float: left;
		line-height: 50px;
		padding-left: 17px;
		
	}

	.latest-video a{
		background: #d81c23;
		color: #fff;
		float: right;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 13px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		height: 26px;
		line-height: 26px;
		padding: 0 11px;
		margin: 12px 20px;
		transition: .5s;
	}

	.latest-video a:hover{
		background: #666666;
	}

	.lv-column{
		height: 210px;
		background: #e5e5e5;
	}

		.lv-column .left{
			float: left;
		}

		
		.lv-icon{
			padding: 25px 24px 0 24px;
			float: left;
			 background: #fff; /* For browsers that do not support gradients */
		    background: -webkit-linear-gradient(#fff, #e5e5e5); /* For Safari 5.1 to 6.0 */
		    background: -o-linear-gradient(#fff, #e5e5e5); /* For Opera 11.1 to 12.0 */
		    background: -moz-linear-gradient(#fff, #e5e5e5); /* For Firefox 3.6 to 15 */
		    background: linear-gradient(#fff, #e5e5e5); /* Standard syntax */
		}
			.lv-icon .wrapper{
			float: left;
			}

			.lv-icon .play-mv{
				margin-right: 23px;
			}

			.lv-icon .wrapper:last-child .play-mv{
				margin-right: 0 ;
			}

			.lv-icon .v-status{
			width: 190px;
			}
		
		.lv-icon h4{
			margin:0;
			font-family: arial;
			font-weight: 700;
			font-size: 14px;
			padding-top: 140px;
			width: 200px;
			letter-spacing: -.2px;
		}

		.lv-column .right{
			float: right;
		}


.grey-footer{
	background: #333333;
	height: 333px;
	border-bottom: 2px solid #ec8e91;
}

	.grey-footer .fb-link{
		float: right;
		width: 288px;
		margin-top: 35px;
	}

	.grey-footer h5{
		margin: 0;
		color: #fff;
		font-family: arial;
		font-weight: 700;
		font-size: 16px;
		padding: 34px 0 6px 0;
		letter-spacing: -1px;
	}

	.gf-r1{
		float: left;
		margin-right: 26px;
	}

	.gf-r1 ul{
		margin: 0;
		padding: 0;
	}

	.gf-r1 li{
		list-style: none;
		line-height: 23px;
	}

	.gf-r1 li a{
		color: #ccc;
		font-size: 12px;
		font-weight: 400;
	}

	.gf-r1 li a:hover{
		color: #fff;
	}

	.gf-r1 li:before{
	  font-family: 'FontAwesome';
	  content: "\f01d";
	  color: #ccc;
	  font-size: 14px;
	  padding-right: 8px;
	  padding-top: 5px;
	}

.red-footer{
	height: 120px;
	background: #d81c23;
	color: #fff;
}
	.rf-left{
		float: left;
		padding-top: 20px;
	}
		.rf-left a{
			color: #fff;
			font-family: arial;
			font-weight: 400;
			font-size: 14px;
		}

		.rf-left .small{
			font-size: 12px;
		}

		.rf-left p{
			font-family: arial;
			font-weight: 400;
			font-size: 12px;
			padding-top: 5px;
			margin-bottom: -2px;
		}

	.rf-right{
		float: right;
		margin-top: 27px;
	}	
			.rf-right a{
				float: left;
				width: 32px;
				height: 32px;
				background: #f9ddde url(../images/icon-facebook.png) center center no-repeat;
				margin-left: 10px;
			}

			.rf-right .twitter{
				background: #f9ddde url(../images/icon-twitter.png) center center no-repeat;
			}

			.rf-right .google-plus{
				background: #f9ddde url(../images/icon-gplus.png) center center no-repeat;
			}

			.rf-right .rss{
				background: #f9ddde url(../images/icon-rss.png) center center no-repeat;
			}

			.rf-right .mail{
				background: #f9ddde url(../images/icon-mail.png) center center no-repeat;
			}


		
		.rf-right-bot{
			float: right;
			margin-top: 20px;
		}	
			.rf-right-bot p{
				float: left;
				margin: 0;
				font-size: 12px;
				font-family: arial;
				font-weight: 400;
				padding-right: 5px;
			}

			.rf-right-bot img{
				float: left;
				margin-right:1px;
			}

			.rf-right-bot h5{
				text-transform: uppercase;
				float: right;
				margin: 0;
				font-family: arial;
				font-weight: 700;
				font-size: 14px;
			}
/*contact page start*/

.red-btn{
	padding:2px 10px;
	background: #d81c23;
	height: 26px;
	line-height: 26px;
	color: #fff !important;
	font-size: 13px;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
}

.contact-bg {
	background: #FFF;
}	

	.details-row1{
		float: left;
		width: 680px;
	}	

	div.contact-us-head{
		width: 680px;
		margin-top: 30px;
	}
		div.contact-us-head h1{
			/*float: left;*/
			margin: 0;
			color: #d81c23;
			font-size: 36px;
			font-weight: 300;
			letter-spacing: -2px;
			text-decoration: underline;
		}
			

		div.contact-us-head span{
			font-size: 16px;
			float: left;
			font-weight: 600;
			margin-top: 2px;
			line-height: 20px;
		}

		.details-row1 table {
		    background: #f1f1f1;
		    margin: 25px 0;
		}

			.table-heading{
				background: #d81c23;
				color: #fff;
				padding: 0 10px;
				font-weight: 700;
				font-size: 14px;
				height: 38px;
				line-height: 38px;
				text-align: left;
			}
			
			.details-row1 table td{
				padding: 10px 15px;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #ccc;
				font-size: 13px;
				line-height: 18px;
				height: 33px;
				position: relative;
			}

			.details-row1 table tbody tr:hover{
				background: #fffbcc;
			}
			
			.details-row1 table td:first-child{
				width: 200px;
				font-weight: 700;
				vertical-align: top;
			}
			
			.details-row1 table input[type=text]{
				padding: 5px;
				border: 1px solid #a9a9a9;
			}

			.input-required{
				color: #d81c23;
			}

			.details-row1 table textarea{
				padding: 10px;
			}

			.details-row1 table a{
				transition: .5s;
			}

			.details-row1 table a:hover{
				background: #666;
			}

			.error-msg span{
				font-size: 10px;
				background: #d81c23;
				color: #fff;
				padding: 1px 6px;
				border-radius: 4px;
				position: absolute;
				top:-10px;
				right: 10px;
			}

			.error-msg span:before{
				content: " ";
				border-left: 6px solid #d81c23;
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				position: absolute;
				left: 0;
				bottom: -6px;
			}
/*contact page ends*/

/*dashboard page starts*/
.dashboard-left{
	float: left;
	margin-top: 23px;
}

.wks{
	border-bottom: 2px solid #d81c23;
	width: 680px;
}

.wks h1{
	margin: 0;
	color: #d81c23;
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -2px;
	padding: 0;
	
}

.wks p{
	margin:3px 0 24px 0 ;
	font-weight: 600;
}

.wks p a{
	color: #d81c23;
	text-decoration: none;
}

.wks p a:hover{
	text-decoration: underline;
}


.three-rows{
	float: left;
	width: 210px;
	height: 230px;
	background: #e5e5e5;
	margin: 25px 25px 0 0;
}

.three-rows:last-child{
	margin-right: 0;
}

.three-rows h4{
	float: left;
	margin: 0;
	font-size: 14px;
	background: #acacac;
	color: #fff;
	width: 170px;
	height: 38px;
	line-height: 38px;
	border-bottom: 1px solid #818181;
	padding: 0 20px;
}

.three-rows div{
	padding: 15px 20px;
	float: left;
}

	.three-rows h2{
		float: left;
		color: #d81c23;
		margin: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 19px;
	}

	.three-rows p{
		margin: 0;
		line-height: 13px;
		font-weight: 600;
	}

	.three-rows >.first >p >a{
		text-decoration: none;
		color: #000;
		font-size: 12px;
		float: left;
	}

	.three-rows> div >.login-a >a{
		display: block;
		color: #d81c23;
		font-size: 13px;
		font-weight: 700;
		line-height: 16px;
	}

	.three-rows> div >.login-a >a:hover{
		color: #000;
	}

	.three-rows .login-a{
		padding: 0;
		margin-top: 13px;
	}

	.three-rows strong{
		font-size: 13px;
	}

	.three-rows >.second >strong{
		float: left;
	}

	.second{
		float: left;
	}

	.three-rows .second p{
		margin: 13px 0 0 0;
		font-size: 13px;
		float: left;
		line-height: 16px;
	}

	.three-rows .second p a{
		color: #d81c23;
		font-weight: 700;
	}

	.three-rows .second p a:hover{
		color: #000;
	}

	.second >a{
		float: left;
		text-transform: uppercase;
		margin-top: 12px;
		height: 24px;
		line-height: 22px;
	}

	.three-rows .third{
		padding: 12px 20px;
	}

	.third p{
		font-size: 13px;
		float: left;
		line-height: 16px;
		margin-bottom: 12px;
	}

	.three-rows .third p a{
		color: #d81c23;
		font-weight: 700;
	}

	.three-rows .third p a:hover{
		color: #000;
	}

	.two-col{
		margin: 0;
		padding: 0;
	}

	.two-col .redblock{
		list-style: none;
		width: 327px;
		background: #d81c23;
		margin: 25px 26px 0 0;
		height: 97px;
		float: left;
	}

	.redblock h3{
		margin: 0;
		color: #fff;
		background: #000;
		height: 39px;
		line-height: 39px;
		font-size: 14px;
		padding: 0 20px;
	}

	.redblock form{
		line-height: 58px;
		font-size: 13px;
		color: #fff;
		padding: 0 16px;
		font-weight: 600;
	}

	.redblock input{
		vertical-align: middle;
	}

	.two-col .redblock:last-child{
		margin-right: 0;
	}

	.tinta{
		margin: 25px 25px 30px 0;
		padding: 0;
		background: #e5e5e5;
		height: 175px;
	}

	.tinta li{
		list-style: none;
	}

	.part1{
		width: 260px;
	}

	.part1 h4{
		width: 220px;
	}

	.part1 h2{
	padding: 15px 20px 0 20px;
}

	.part1 p a{
		text-decoration: none;
		color: #000;
		font-size: 12px;
		float: left;
	}

	.part1 p{
		font-size: 11px;
		float: left;
		padding: 0 20px 14px 20px;
		
	}

	.part2{
		width: 187px;
	}

	.part2 p{
		float: left;
		padding: 0 20px;
	}

	.part2 h4{
		width: 147px;
	}

	.part2 >li >a{
		margin: 12px 20px;
		transition: .5s;
	}

	.part2 >li >a:hover{
		background: #666;
	}

	.part3{
		width: 183px;
	}

	.part3 h4{
		width: 143px;
	}

	.part3 a{
		color: #d81c23;
		font-size: 13px;
		font-weight: 700;
		float: left;
		padding: 12px 20px;
	}

/*dashboard page ends*/

/*affiliated stats starts*/
.ccc-border{
	border-bottom: 2px solid #ccc;
	padding-bottom: 25px;
}

.nrf p{
	display: block;
}
/*affiliated stats ends*/

/*payout info page starts*/
.payout-table{
	margin-top: 20px;
	background: #f6f6f6;
}

.payout-table span.input-info {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
}

.payout-table th{
	padding: 0 15px;
}

.payout-table tr td:first-child{
	border-right: 1px solid #ccc;
	width: 280px;
	font-weight: 600;
}

.payout-table select{
	border: none;
	width: 130%;
    color: #cacaca;
    font-family: 'Open Sans', sans-serif;
    height: 30px;
    cursor: default;
    font-weight: bold;
    background: #4c4c4c url(../images/select-image.png) 0 0 no-repeat;
    /*text-indent: 35px;*/
    padding: 0;
    margin-right: -31px;
    line-height: 26px;
    -webkit-appearance: none;
}

@-moz-document url-prefix() { /* CSS Hack for Firefox */
    .payout-table select {
		padding: 0 0 6px 35px;
		text-indent: 0;
    }
}

:root .payout-table select { padding: 1px 0 0 35px \0/IE9; }  /* IE9 & IE10 */

.payout-table select { padding: 0 0 0px 35px\9;} /* CSS Hack for IE8 */

@media screen { /* CSS Hack for IE8 option */
	.payout-table select {
		padding: 0 0 0px 35px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* CSS Hack for Chrome */    
	.select-wrapper select {
		padding: 0;
	text-indent: 35px;
	}     
}

.select-pos-rel{
	position: relative;
}

.select-pos-rel div{
	overflow: hidden;
	width: 135px;
}

.payout-table input{
	padding: 5px;
}

.payout-table select:hover{
	background: #4c4c4c url(../images/select-image-hover.png) no-repeat;
	color: #fff;
}

.payout-table select:before{
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #090;
	position: absolute;
	left: 0;
	top: 0;
}
/*payout info page ends*/

/*contact-nav starts*/
.login-1{
	float: left;
}

.kieron{
	width: 158px !important;
	margin-right: 1px !important;
	position: relative;
}

.login-left{
	position: relative;
}

nav .login-left >a{
	background: #4d4d4d url(../images/icon-user-loggedin.png) 13px center no-repeat !important;
	height: 42px;
	display: block;
	transition: .5s;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 42px;
	text-decoration: none;
	font-weight: 700;
	padding-left: 40px;
}

nav .login-left:hover > a{
	background: #6f6f6f url(../images/icon-user-loggedin.png) 13px center no-repeat !important;
}

nav .login-left:hover > .nav-nav{
	background: #d81c23 url(../images/icon-user-loggedin.png) 13px center no-repeat !important;
}

.kieron:hover + form input{
    background: #4d4d4d url(../images/icon-search.png) right center no-repeat;
}

.kieron >ul{
	margin: 0;
	padding: 0;
	width: 200px;
	border-bottom: 1px solid #bb171d;
	position: absolute;
	right: 0;
	opacity: 0;
	top: 52px;
	visibility: hidden;
	-webkit-transition: .5s;
	   -moz-transition: .5s;
	    -ms-transition: .5s;
	     -o-transition: .5s;
	        transition: .5s;
}

.kieron:hover >ul{
	visibility: visible;
	position: absolute;
	top: 42px;
	right: 0;
	opacity: 1;
}



.kieron > ul > li{
	list-style: none;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #dc4549;
	border-top: 1px solid #BB171D;
	position: relative;
	background: #d81c23;
}

.kieron li:first-child{
	border-top: none;
}

.kieron li a{
	color: #fff;
	background: #d81c23 ;
	text-decoration: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
}

.kieron li:hover a{
	background: #ba181e;
}

.kieron li:hover{
	background: #ba181e;
}

.kieron li img{
	margin: 0 ;
	padding: 9px 10px;
	float: left;
}

.kieron > ul > li > ul {
	position: absolute;
    right: 220px;
    top: 0px !important;
    width: 250px;
    margin: 0;
    padding: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
    border-bottom: 1px solid #BB171D;
}

.kieron li:hover ul{
	visibility: visible;
	opacity: 1;
	right: 200px;
}


.kieron > ul > li > ul > li{
	list-style: none;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #dc4549;
	border-top: 1px solid #BB171D;
	background: #d81c23;
}

.kieron > ul > li > ul > li a{
	color: #fff;
	text-decoration: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	background: #ba181e;
}

.kieron > ul > li > ul > li a:hover{
	background: #891216;
}


/*contact nav ends*/

/*helpdesk page starts*/

.helpdesk-left{
	margin-top: 20px;
	padding-bottom: 50px;
	border-bottom: 2px solid #ccc;
}

.placehdr{
	border: none;
	background: #d9d9d9;
	height: 30px;
	padding: 0 10px;
	float: left;
	margin-right: 1px;
	width: 178px;
}

.btn{
	height: 30px;
	width: 30px;
	background: #d81c23;
	float: left;
	border: none;
	background: #d81c23 url(../images/icon-search.png)  5px center no-repeat;
}

.helpdesk-left ul{
	margin: 10px 0 0 35px;
	padding: 0;
	display: block;
}

.helpdesk-left ul a{
	color: #d81c23;
	text-decoration: none;
	font-size: 14px;
	font-family: arial;
	line-height: 18px;
	font-weight: 700;
}

.helpdesk-left ul a:hover{
	text-decoration: underline;
}

.helpdesk-left ul li{
	padding: 0;
	line-height: 23px;
}

.helpdesk-body ins{
	float: right;
    padding: 8px 10px 0 10px;
    background-color: #d9d9d9;
    color: #4c4c4c;
    height: 22px;
    letter-spacing: 0;
    border-left: 1px solid #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}

div select{
	display: block;
}

.helpdesk-body span{
	float: right;
	width: 30px;
	height: 30px;
	background: #d81c23;
	position: relative;
	
}

.helpdesk-body span:before{
	content: '';
	border-bottom: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	left: 10px;
	top: 8px;
}

.helpdesk-body span:after{
	content: '';
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	left: 10px;
	top: 17px;
}

.details-left h2{
	font-size: 16px;
	padding-top: 18px;
	margin: 0;
	color: #313131;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 100%;
}

.details-left table{
	margin: 18px 0 30px 0;
}

.details-left table th{
	padding: 0 15px;
	border-right: 1px solid #ccc;
	
}

.details-left table tbody tr{
	background-color: #f6f6f6;
	height: 38px;
}

.details-left table tbody tr:hover{
	background: #fffbcc;
}

.details-left table tbody td{
	border-right: 1px solid #ccc;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	padding: 10px 15px;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
}

.details-left table tbody td a{
	text-decoration: none;
}

.red{
	color: #d81c23;
}

.red:hover{
	text-decoration: underline;
}

/*helpdesk page ends*/

/*ticket page starts*/
.ticket-buttons{
	margin-top: 16px;
}

.margin{
	margin-right: 4px;
}

.grey-hover{
	transition: .5s;
}
.grey-hover:hover{
	background: #4c4c4c;
}
/*ticekt page ends*/

/*affiliate info starts*/
.nrf a{
	color: #d81c23;
	display: block;
	text-decoration: none;
	margin: 20px 0 8px 0;
}

.nrf a:hover{
	text-decoration: underline;
}

.nrf ins{
	display: block;
	text-decoration: none;
	color: #313131;
	font-size: 14px;
}
/*affiliate info ends*/

/*edit profile starts*/
.personal-relative{
	position: relative;
}

.errors-msg span{
	font-size: 10px;
	background: #d81c23;
	color: #fff;
	padding: 1px 6px;
	border-radius: 4px;
	position: absolute;
	top:10px;
	right: 150px;
}

.errors-msg span:before{
	content: " ";
	border-left: 6px solid #d81c23;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	position: absolute;
	left: 0;
	bottom: -6px;
}

table td p{
	font-weight: 400;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

/*edit profile ends*/

/*add new subscription starts*/
.contact-us-head span a{
	color: #d81c23;
	text-decoration: none;
	transition: .5s;
}

.contact-us-head span a:hover{
	/*background: #666;*/
}

.info-out{
	display: block;
}

input {
	vertical-align: middle;
}

label span{
	display: block;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

label input{
	margin: 0;
}

.submit-red-btn{
	background: #d81c23;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 13px;
	display: inline-block;
	text-decoration: none;
	font-weight: 700;
}

table input[type=submit]{
	border: none;
	padding: 5px;
	height: 23px;
	line-height: 0;
}

.details-row1 form table{
	margin-bottom: 20px;
}

.contact-us-head span .underline:hover{
	text-decoration: underline;
}
/*add new subscription ends*/

/*payment-history starts*/
.details-row1 ins{
	color: #313131;
	text-decoration: none;
	font-size: 16px;
	padding: 20px 0 10px 0;
	display: block;
}

.table-heading tr th{
	border-right: 1px solid #ccc;
	padding: 10px 15px;
	line-height: 17px;
}

tbody tr th{
	text-align: left;
	font-weight: 400;
	font-size: 13px;
}

tbody th strong a{
	color: #d81c23;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

tbody th strong a:hover{
	text-decoration: underline;
	background: transparent !important;
}

table tbody th{
	padding: 10px 15px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	border-right: 1px solid #ccc;
	font-family: arial;
	font-size: 13px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
}

table tbody th:last-child{
	border-right: none;
}

/*payment-history ends*/