/* Global start */

body{
	margin: 0;
	font-family: arial;
}

img{
	display: block;
}

/* Global end */

/* Common start */

.center{
	width: 960px;
	margin: auto;
}

.clear{
	clear: both;
	display: block;
}

.clearfix:after{
	content: '';
	clear: both;
	display: block;
}

.btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	padding: 0 15px 0 39px;
	border-radius: 18px;
	background-image: url(../images/icon-power.png);
	background-position: 12px center;
	background-repeat: no-repeat;
}
.btn-red{
	margin: 16px 0 0 33px;
	background-color: #ab280a;
}

.btn-grey{
	background-color: grey;
	margin: 23px 0 8px 0;
}

/* Common end */

/* Nav start */

nav{
	background: #a81f00;
}

nav ul{
	margin: 0;
	padding: 0;
	float: right;
}

nav li{
	list-style: none;
	float: left;

}

nav a{
	color: white;
	display: block;
	text-decoration: none;
	font-size: 14px;
	height: 44px;
	line-height: 44px;
	padding: 0 16px;
}

nav ul .active{
	background-color: black;
}

nav a:hover{
	color: yellow;
}

nav ul .active:hover{
	color: white;
	cursor: default;
}

/* Nav end */

/*Header starts*/

header{
	margin-top: 2px;
	background-color: #e5e5e5;
	padding: 35px 0; 
}

.logo{
	float: left;
}

.social{
	float: right;
}

.social a{
	float: left;
	margin-left: 10px;
	height: 37px;
	overflow: hidden;

}

.social a img{
	transition: .5s;
}

.social a img:hover{
	margin-top: -37px;
}

/*.social a{
	float: left;
	margin-left: 11px;
	background-image: url(../images/icons-social.png);
	background-repeat: no-repeat;
	width: 37px;
	height: 37px;
	transition: .5s;
}

.social .facebook{
	background-position: 0 0;
}

.social .facebook:hover{
	background-position: 0 -37px;
}

.social .twitter{
	background-position: -37px 0;
}

.social .twitter:hover{
	background-position: -37px -37px;
}

.social .linkedin{
	background-position: -74px 0;
}

.social .linkedin:hover{
	background-position: -74px -37px;
}

.social .googleplus{
	background-position: -111px 0;
}

.social .googleplus:hover{
	background-position: -111px -37px;
}*/


/*Header ends*/

/*Banner ends*/

.banner{
	background: url(../images/banner.png) center top;
	letter-spacing: 63px;
	text-align: center;

}

.battery{
	display: inline-block;
	vertical-align: middle;
	margin-top: 27px;
	padding: 0;
}

.our-products{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	text-align: left;

}

.our-products ul{
	margin: 4px 0 0 0;
	padding: 0;
}

.our-products li{
	list-style: none;
	font-size: 18px;
	color: white;
	text-decoration: underline;
	line-height: 30px;
	background: url(../images/icon-bulb.png) 0 7px no-repeat;
	padding-left: 26px;
	margin-left: 33px;
}

/*Banner ends*/


/*About starts*/

.about h1{
	color: #a81f00;
	font-size: 46px;
	margin: 45px 0 0 0;
	font-weight: normal;
}

.about p{
	font-size: 20px;
	line-height: 28px;
	margin: 12px 0 0 0;
}

.about {
	text-align: center;
}

.btn:hover{
	background-color: green;
}

.btn-grey:hover{
	background-color: blue;
}

/*About ends*/

/*Feature starts*/

.feature .center{
	border-top: 1px dashed #737373;
	margin-top: 34px;
}

.feature .center div{
	float: left;
	padding: 30px 0 0 0;

}

.feature .center .middle{
	margin: 0 40px;
	border-left: 1px dashed #737373;
	border-right: 1px dashed #737373;
	padding: 30px 40px 0 40px;
}

.feature img {
	float: left;
}

.feature span{
	float: right;
	padding: 5px 0 0 18px;
}

.feature strong{
	display: block;
	color: #a81f00;
	font-size: 30px;
	font-weight: bold;

}

.feature small{
	display: block;
	font-size: 18px;
	line-height: 22px;

}

/*Feature ends*/

/*Footer starts*/

footer{
	background-color: #e5e5e5;
	border-top: solid 2px #b7b7b7; 
	margin-top: 37px;
}

.fleft{
	float: left;
}

.fleft h3{
	color: #a81f00;
	font-size: 24px;
	text-decoration: underline;
	margin-top: 24px;
	display: block;
	letter-spacing: -1px;
}

.fleft ul{
	float: left;
	margin-top: -7px;
	padding: 0 38px 0 0;
	list-style: none;

}

.fleft a{
	font-size: 14px;
	color: #007843;
	line-height: 25px;
}

.fright{
	float: left;
	margin-left: 40px;
}

.fright div {
	float: left;
}

.fright h4{
	font-size: 14px;
	padding-top: 14px;
	color: #a81f00;
	margin: 0;
}

.fright p {
	font-size: 12px;
	line-height: 19px;
	margin: 2px 0 0 0;
}

.fright a {
	color: black;
}

.fright .green-head {
	float: none;
}

.fright .green-head h4{
	margin: 20px 0 0 0;
	color: #007843;
	font-size: 16px;
	
}

.fright .green-head p{
	font-size: 14px;
	margin: 1px 0 0 0;
	line-height: 22px;
}

.fright .red-first{
	margin-right: 25px;
}

.botfoot .center{
	margin-top: 8px;
	background-color: #e5e5e5;
	border-top: dashed 2px #b7b7b7; 
}


.botleft{
	float: left;
}

.botleft p{
	float: left;
	font-size: 12px;
	margin-top: 14px;
}

.botleft img{
	display: inline-block;
	margin: 12px 5px;
}

.botleft a{
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin-top: 13px;
}

.botfoot h3{
	float: right;
	margin-top: 10px;
	font-size:20px;
}

/*Footer ends*/